.hero {
  text-align: center;
  padding-top: 100px;
  .hero {
  background: linear-gradient(
    135deg,
    #6dd5ed,
    #2193b0
  );
}

}

/* Light Mode */
.hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero h2 {
  color: #4d73f3;
  margin-bottom: 20px;
}

.hero p {
  margin-bottom: 30px;
}

/* Dark Mode Adjustments */
body.dark-mode .hero h2 {
  color: #6997e3;
}

body.dark-mode .hero p {
  color: #f9f4f4;
}
.hero button {
  padding: 12px 25px;
  background: #38bdf8;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
} 