.hero {
  text-align: center;
  padding-top: 100px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero h2 {
  color: #38bdf8;
  margin-bottom: 20px;
}

.hero p {
  color: #cbd5e1;
  margin-bottom: 30px;
}

.hero button {
  padding: 12px 25px;
  background: #38bdf8;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}
