.hero {
  text-align: center;
  padding-top: 100px;
  
}

/* Light Mode */
.hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero h2 {
  color: rgb(114, 190, 162);
  margin-bottom: 20px;
  -webkit-text-stroke: 1px rgba(4, 2, 33, 0.874);
}

.hero p {
  margin-bottom: 30px;
}

/* Dark Mode Adjustments */
body.dark-mode .hero h2 {
  color: #38bdf8;
}

body.dark-mode .hero p {
  color: #f9f4f4;
}
.hero button {
  padding: 12px 25px;
  background: rgb(114, 190, 162);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
} 
body.dark-mode .hero button {
  padding: 12px 25px;
  background: #38bdf8;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
} 