.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.project-card {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  transition: 0.3s;
}
.project-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.project-card a {
  display: inline-block;
  margin-top: 10px;
  color: #38bdf8;
  font-weight: 600;
}

.project-card:hover {
  transform: scale(1.03);
}

.project-card h3 {
  color: #38bdf8;
  margin-bottom: 10px;
}
