.skills-section {
  padding: 60px 20px;
  text-align: center;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 25px;
  padding: 10px 20px;
  max-width: 900px;
  margin: auto;
}

.card {
  background: rgb(114, 190, 162);
  padding: 20px;
  color: #070d49;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

.icon {
  font-size: 40px;
  margin-bottom: 10px;
  color: #070d49;
}

/* Skill Bars */
.skill-bar {
  width: 100%;
  height: 8px;
  background: #c2ecf2;
  border-radius: 6px;
  margin-top: 10px;
  overflow: hidden;
}

.skill-fill {
  height: 100%;
  background: linear-gradient(90deg, #070d49, #72e1d8);
  border-radius: 6px;
  animation: grow 2s ease forwards;
}

@keyframes grow {
  from { width: 0; }
}
