.title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 36px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.card {
  background: #1e293b;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  background: #334155;
}
.icon {
  font-size: 40px;
  margin-bottom: 15px;
  color: #38bdf8;
}
