.dark-mode {
  background-color: #0f172a;
  color: white;
}

.dark-mode .nav {
  background: #1e293b;
}

.dark-mode .card,
.dark-mode .project-card {
  background-color: #1e293b;
  color: white;
}

.dark-mode a {
  color: #72e1d8;
}
