/* 🌙 DARK MODE GLOBAL */

body.dark-mode {
  color: white;
}

/* Navbar */
body.dark-mode .nav {
  background: #1e293b;
}

/* Links */
body.dark-mode .links a {
  color: white;
}

body.dark-mode .links a:hover {
  color: #72e1d8;
}

/* Cards */
body.dark-mode .card,
body.dark-mode .project-card {
  background-color: #1e293b;
  color: white;
}

/* Skill bars background */
body.dark-mode .skill-bar {
  background: #334155;
}
