* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #014855;
  color: white;

}

a {
  text-decoration: none;
  color: white;
}

section {
  padding: 80px 10%;
}
