* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;

  /* ✅ Background Image */
  background-image: url("../src/assets/lightbg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: #041640;
  transition: color 0.3s;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

/* ✨ Animated gradient overlay */
body::before {
  content: "";
  position: fixed;
  inset: 0;

   background: linear-gradient(
    -45deg,
    rgba(108, 187, 47, 0.5),
    rgba(172, 171, 106, 0.5),
    rgba(112, 165, 177, 0.5),
    rgba(228, 134, 105, 0.5)
  );

  background-size: 400% 400%;
  animation: gradientMove 12s ease infinite;

  z-index: -2;
  pointer-events: none;
}

/* Gradient animation */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} 
/* Links */
a {
  text-decoration: none;
  color: white;
}

section {
  padding: 80px 10%;
}

/* 🌙 DARK MODE */
body.dark-mode {
  color: #f9f4f4;
}

body.dark-mode::before {
  background: linear-gradient(
    -45deg,
    rgba(2, 39, 45, 0.6),
    rgba(15, 23, 42, 0.6),
    rgba(30, 41, 59, 0.6),
    rgba(1, 47, 69, 0.6)
  );
  background-size: 400% 400%;
  animation: gradientMove 12s ease infinite;
}


/* Navbar */
body.dark-mode .nav {
  background: #012f45;
}

/* Links */
body.dark-mode a {
  color: #72e1d8;
}

/* Cards */
body.dark-mode .card,
body.dark-mode .project-card {
  background-color: #6997e3;
  color: white;
}

/* Skill bars */
body.dark-mode .skill-bar {
  background: #334155;
}
@media (max-width: 768px) {
  .project-grid {
    padding: 10px 15px;
    gap: 20px;
  }
}
